<h1>Listing product_skus</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Sku code</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_skus.each do |product_sku| %>
      <tr>
        <td><%= product_sku.product %></td>
        <td><%= product_sku.sku_code %></td>
        <td><%= product_sku.price_yuan %>元</td>
        <td><%= product_sku.quantity %></td>
        <td><%= link_to 'Show', product_sku %></td>
        <td><%= link_to 'Edit', edit_product_sku_path(product_sku) %></td>
        <td><%= link_to 'Destroy', product_sku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product sku', new_product_sku_path %>
