<%= javascript_include_tag params[:controller] %> 
<%= stylesheet_link_tag params[:controller] %>

<h1>批量导入</h1>
<% if flash[:notice] || flash[:error]  %>
<div class="alert <%= "alert-success" if flash[:notice] %> <%= "alert-danger" if flash[:error] %>">
  <a class="close" data-dismiss="alert">×</a>
  <%= flash[:notice] %><%= flash[:error] %>
</div>
<% end %>
<%= form_tag "/shop/products/import_excel",multipart: true do %>
      <div class="field">
        	<label for="excel_file">产品数据导入</label>
            <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择excel文件...</span>
                    <%= file_field_tag :excel_file %>
          </span>
        </div>
  <br/>
  <div class="actions">
        	<%= submit_tag "导入测试" ,:class => "btn btn-info" ,data: {disable_with:'正在导入...'}%>
            <%= submit_tag "直接导入" ,:class => "btn btn-primary" ,data: {disable_with:'正在导入...'}%>
            <%= link_to ' 返回 ', shop.products_path,:class => "btn btn-default" %>
        </div>
<% end %>
<% if @errors && @errors.size > 0 %>
    导入过程存在以下错误：
	<% @errors.each do |error|%>
	 <p><%= error %></p>
	<% end %>
<% end %>

  <br/>
  <br/>
<%= form_tag "/shop/products/import_images",multipart: true, id:"fileupload" do %>  
      <div class="field">
          <label for="image_file">产品图片导入</label>
          <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择图片文件...</span>
                    <input type="file" name="image_file" multiple="">
          </span>
 <br/> <br/>
     <button type="button" class="btn btn-primary" name="button" id="upload_button" >开始上传</button>
  </div>
<% end %>
   <br/>
    <div id="result">        
    </div>

<script>
var filecount = 0;
$('#fileupload').fileupload({
    dataType: 'json',
    
    add: function (e, data) {
        //alert(JSON.stringify(data.files));
        filecount ++;
        $("#upload_button").html('开始上传' + "(" + filecount +"个文件)");  
        $("#upload_button").prop('disabled', false); 
        $("#result").html("");      
        $("#upload_button").on('click', function () {
            $(this).prop('disabled', true);
            data.submit();
            $("#upload_button").html('正在上传。。。');  
            $("#upload_button").off("click")
        });
    },
    done: function (e, data) {
       $("#result").append("<p>文件:" + data.result.name + ".......结果:" + data.result.message + "</p>")
       filecount -- ;
       if(filecount == 0){         
           $("#result").append("<p>所有文件上传完成</p>");
           $("#upload_button").html('上传完成'); 
       }
    }
});
</script>


