<%= form_for(@shop_category) do |f| %>
  <% if @shop_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop_category.errors.count, "error") %> prohibited this shop_category from being saved:</h2>

      <ul>
      <% @shop_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name ,'类别名称'%>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code ,'类别编码'%>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :picture_path ,'类别图片'%>
    <%= f.file_field :picture_path %>
  </div>
  <div class="field">
    <%= f.label :the_order ,'排列顺序'%>
    <%= f.number_field :the_order %>
  </div>  
  <div class="field">
    <%= f.label :is_enabled ,'是否可用'%>
    <%= f.check_box :is_enabled %>
  </div>
  <div class="actions">
    <%= f.submit ' 保存 ',:class => 'btn btn-primary',data: { disable_with: "正在保存..."} %>
    &nbsp;&nbsp;
    <%= link_to ' 返回 ', shop.categories_path,:class => "btn btn-default" %>
  </div>
<% end %>
