<%= form_for(@logistic) do |f| %>
  <% if @logistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logistic.errors.count, "error") %> prohibited this logistic from being saved:</h2>

      <ul>
      <% @logistic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,'公司名称'%><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit ' 保存 ',:class => 'btn btn-primary',data: { disable_with: "正在保存..."} %>
    &nbsp;&nbsp;
    <%= link_to ' 返回 ', shop.logistics_path,:class => "btn btn-default" %>
  </div>
<% end %>
