<%= form_tag nil,method: :get do %>  
<div class="row">
<div class="col-sm-4">
<h1>客户列表
  <small><%= link_to '新建客户', shop.new_customer_path ,:class => "btn btn-primary" %></small>
</h1>
</div>

  <div class="col-sm-2" style="margin-top: 30px;margin-bottom: 0px;padding-right: 0px;">
     <%= text_field_tag :customer_no,params[:customer_no],class:"form-control",placeholder:"输入客户编号"%>
  </div>
  <div class="col-sm-2" style="margin-top: 30px;margin-bottom: 0px;padding-right: 0px;">
     <%= text_field_tag :name,params[:name],class:"form-control",placeholder:"输入客户姓名"%>
  </div>  
  <div class="col-sm-2" style="margin-top: 30px;margin-bottom: 0px;padding-right: 0px;">
     <%= text_field_tag :mobile,params[:mobile],class:"form-control",placeholder:"输入客户电话"%>
  </div>    
    <div class="col-sm-1" style="margin-top: 30px;margin-bottom: 0px; padding-left: 15px;">
     <%= submit_tag "搜索" ,:class => "btn btn-info" %>
  </div>
</div>
<% end %> 

<% if flash[:notice] || flash[:error]  %>
<div class="alert <%= "alert-success" if flash[:notice] %> <%= "alert-danger" if flash[:error] %>">
  <a class="close" data-dismiss="alert">×</a>
  <%= flash[:notice] %><%= flash[:error] %>
</div>
<% end %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>客户编号</th>
      <th>客户类型</th>      
      <th>邮箱地址</th>      
      <th>客户姓名</th>
      <th>公司名称</th>      
      <th>联系电话</th>
      <th>登录次数</th>            
      <th>上次登录IP</th>
      <th>上次登录时间</th>      
      <th>注册时间</th>            
      <th>是否可用</th>      
      <th></th>
      <th></th>      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shop_customers.each do |shop_customer| %>
      <tr>
        <td><%= shop_customer.customer_no %></td>
        <td><%= shop_customer.customer_type.name %></td>        
        <td><%= shop_customer.email %></td>   
        <td><%= shop_customer.name %></td>           
        <td><%= shop_customer.company %></td>             
        <td><%= shop_customer.mobile %></td>
        <td><%= shop_customer.login_count %></td>
        <td><%= shop_customer.last_login_ip %></td>        
        <td><%= shop_customer.last_login_time.strftime("%Y-%m-%d %H:%M") if shop_customer.last_login_time %></td> 
        <td><%= shop_customer.created_at.strftime("%Y-%m-%d %H:%M") %></td>  
        <td><%= bool_label(shop_customer.is_enabled) %></td>
        <td><%= link_to '查看', shop_customer %></td>
        <td><%= link_to '修改', shop.edit_customer_path(shop_customer) %></td>        
        <td><%= link_to '删除', shop_customer, method: :delete, data: { confirm: '您确定要删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="apple_pagination">
   <%= page_entries_info @shop_customers %>
   <%= will_paginate @shop_customers ,:container => false%>
</div>
